page-home {

    ion-content {
        background-color: $background-color;
    }

    .toolbar-background {
        background-image:linear-gradient(to right, $light_blue, $black_blue);
        background-color: transparent;
        border-color: transparent !important;
    }

    .toolbar-title {
        color: $title;
        font-family: "Arciform";
        font-size: 2.3rem;
    }

    .add-todo-container {
        text-align: center;

        ion-item {
            padding: 0px 5px;
            border: 2px solid $light_blue;
            border-radius: 25px;

            .item-inner {
                padding-right: 4px !important;
            }

            ion-buttons {
                margin: 0px !important;

                button {
                    box-shadow: none !important;
                    background-color: transparent !important;
                    margin: 0px;
                    font-size: 2.4rem;
                    padding: 0px 5px;
                    height: auto;
                }
            }
        }

        .item-inner {
            border: 0px !important;
            box-shadow: none !important;
        }

        .add-todo-input {
            display: inline-block;

            input {
                text-align: center;
            }
        }

        .add-todo-icon {
            color: $black_blue;
            font-size: 1.5em;
        }
    }

}
