<ion-header>
  <ion-navbar>
    <ion-title>Todolist</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
      <ion-row class="fixed-header">
        <ion-col align-items-start col-md-12>
          <div class="add-todo-container">
            <ion-item>
              <ion-input class="add-todo-input" placeholder="Ajouter une nouvelle tâche" [(ngModel)]="newTodo.title" (keyup.enter)="addNewTodo()"></ion-input>
              <ion-buttons item-right>
                <button ion-button ion-only (click)="addNewTodo()">
                  <ion-icon name="add" class="add-todo-icon"></ion-icon>
                </button>
              </ion-buttons>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col align-items-start col-md-12>
          <todo *ngFor="let todo of todos" [todo]="todo" (removeTodo)="handleRemoveTodo($event)" (completeTodo)="handleCompleteTodo($event)"></todo>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>


