todo {
    .todo-container {
        margin-left: 0px;
        margin-right: 0px;
        padding: 5px 5px;
        width: 100%;
        overflow: visible;

        ion-card-content {
            padding: 0px;
            text-decoration: none;

            .completed {
                text-decoration: line-through;
            }
        }

        ion-checkbox {

            .checkbox-checked {
                background-color: $black_blue;
                border-color: #17b7ee;
            }
        }

        .todo-label {
            color: $color_label;
        }

        ion-fab {

            button {
                background-color: $fab_background;
            }

            button.activated {
                background-color: $black_blue;
            }

            button.fab-close-active, button.fab-list-active {
                background-color: $black_blue;
            }

            ion-icon {
                color: $icon_color;
            }
        }

        ion-fab-list.fab-list-top {
            margin: 45px 50px;
            right: 0;
        }

        ion-fab-list.fab-list-left {
            margin: 0px 85px;
        }

        ion-fab-list.fab-list-bottom {
            margin: 45px 50px;
            right: 0;
        }
    }
}
