<ion-card class="todo-container">
    <ion-card-content>
        <div class="view" [class.completed]="todo.complete">
          <ion-grid>
            <ion-row>
              <ion-col col-10>
                <ion-item>
                  <ion-label class="todo-label">{{todo.title}}</ion-label>
                  <ion-checkbox (click)="doCompleteTodo()" [checked]="todo.complete"></ion-checkbox>
                </ion-item>
              </ion-col>

              <ion-col col-2>
                <ion-fab center middle #fab>
                  <button ion-fab mini>
                    <ion-icon name="more"></ion-icon>
                  </button>

                  <ion-fab-list side="top" class="fab-list-top" (click)="doCompleteTodoWithFab($event, fab)">
                    <button ion-fab mini class="fab-list-active">
                      <ion-icon name="checkmark"></ion-icon>
                    </button>
                  </ion-fab-list>

                  <ion-fab-list side="left" class="fab-list-left">
                    <button ion-fab mini class="fab-list-active">
                      <ion-icon name="create"></ion-icon>
                    </button>
                  </ion-fab-list>

                  <ion-fab-list side="bottom" class="fab-list-bottom" (click)="doRemoveTodo($event, fab)">
                    <button ion-fab mini class="fab-list-active">
                      <ion-icon name="trash"></ion-icon>
                    </button>
                  </ion-fab-list>

                </ion-fab>
              </ion-col>

            </ion-row>
          </ion-grid>
        </div>
    </ion-card-content>
</ion-card>
