@font-face {
    font-family: "Tipper";
    src: url(#{$font-path}/Tipper/Tipper.eot);
    src: url(#{$font-path}/Tipper/Tipper.eot?#iefix) format("embedded-opentype"),
        url(#{$font-path}/Tipper/Tipper.woff2) format("woff2"),
        url(#{$font-path}/Tipper/Tipper/Tipper.woff) format("woff"),
        url(#{$font-path}/Tipper/Tipper/Tipper.ttf) format("truetype"),
        url(#{$font-path}/Tipper/Tipper.svg#Tipper) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arciform";
    src: url(#{$font-path}/Arciform/Arciform.eot);
    src: url(#{$font-path}/Arciform/Arciform.eot?#iefix) format("embedded-opentype"),
        url(#{$font-path}/Arciform/Arciform.otf) format("opentype"),
        url(#{$font-path}/Arciform/Arciform.woff2) format("woff2"),
        url(#{$font-path}/Arciform/Arciform.woff) format("woff"),
        url(#{$font-path}/Arciform/Arciform.ttf) format("truetype"),
        url(#{$font-path}/Arciform/Arciform.svg#Arciform) format("svg");
    font-weight: normal;
    font-style: normal;
}
